*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: white;
  color: #0b111a;
  transition: all 0.5s ease;
}
body.nightMode {
  background-color: #23293b;
  color: white;
}

.disable-transition {
  transition: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}
svg {
  vertical-align: middle;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}
