*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color1 {
  color: #201907;
}
.color2 {
  color: #124e07;
}
.color3 {
  color: #e26823;
}
.color4 {
  color: #f1d174;
}
.color5 {
  color: #f8efe9;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f8efe9;
  color: #383d3b;
  transition: background-color 1s ease;
}
body.nightMode {
  background-color: #201907;
  color: white;
}

.disable-transition {
  transition: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}
svg {
  vertical-align: middle;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}
