*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: white;
  color: black;
}
body.night-mode {
  background-color: black;
  color: white;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
svg {
  vertical-align: middle;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
