<header>
  <div class="header__nav">
    <img class="logo" href="../images/logo2.jpg" alt="logo yesNET" />
    <nav>
      <ul>
        <li><a href="#">Promocje</a></li>
        <li><a href="#">Oferty</a></li>
        <li><a href="#">Technologie</a></li>
        <li><a href="#">Opinie</a></li>
        <li><a href="#">Wsparcie</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__mode">
    <a href="#" class="night-mode-toggle"
      ><i class="fa fa-moon"></i> Night Mode</a
    >
  </div>
</header>
