<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="menu">
      <a class="logo">logo</a>
      <a class="btn" onclick="localStorage.clear()">Produkty</a>
      <a class="btn map">Mapa Zasięgu</a>
      <div class="options">
        <label class="switch">
          <input id="darkMode" type="checkbox" />
          <span class="slider round"></span>
        </label>
        <div class="loginOption">
          <a class="btn login">User</a>
          <div class="userMenu hidden">
            <div class="point"></div>
            <ul>
              <li>konto</li>
              <li>opcja 2</li>
              <li>opcja 3</li>
            </ul>
            <button class="logout">wyloguj</button>
          </div>
          <p class="loginName"></p>
        </div>
      </div>
    </section>
    <main>
      <section class="mainOverlay">
        <div class="mainSlider">
          <div class="userForm posters">
            <button class="formToggle">Formularz Zgłoszeniowy</button>
          </div>
          <div class="companyForm posters">
            <button class="formToggle">Formularz Zgłoszeniowy</button>
          </div>
          <button class="sliderBtn arrow-left">
            <svg class="btnPrev">
              <use
                href="{{ url_for('static', filename='/images/svg/symbol-defs.svg') }}#previous-idea"
              ></use>
            </svg>
          </button>
          <button class="sliderBtn arrow-right">
            <svg class="btnNext">
              <use
                href="{{ url_for('static', filename='/images/svg/symbol-defs.svg') }}#next-idea"
              ></use>
            </svg>
          </button>
        </div>
      </section>
      <section id="bigSquare">
        <div class="picture"></div>
        <div class="aboutContainer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            quis odit dolore nostrum asperiores hic ipsa, placeat dolorum iste
            autem vitae? Odit perferendis saepe ea vero doloribus. Voluptatem,
            rerum corrupti. Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Perspiciatis, quod? Tempora inventore consectetur asperiores
            illo aperiam ex! Voluptatum accusantium corrupti, explicabo
            molestias sed dolor
          </p>
        </div>
      </section>
      <section class="littleSquares">
        <div class="littleSquare"><h1>Sprzedaż i magazyn</h1></div>
        <div class="littleSquare"><h1>KPiR</h1></div>
        <div class="littleSquare"><h1>Pełna księgowość</h1></div>
        <div class="littleSquare"><h1>Kadry i płace</h1></div>
      </section>
    </main>
    <section class="hidden loginOverlay">
      <form name="loginForm" class="loginForm">
        <svg width="30" height="30" class="exitLoginForm">
          <use
            href="{{ url_for('static', filename='/images/svg/symbol-defs.svg') }}#exit"
          ></use>
        </svg>
        <h2>Sign in</h2>
        <label form="loginForm">
          <input
            name="username"
            type="text"
            placeholder="Username"
            class="username loginFormInput"
          />
        </label>
        <label form="loginForm">
          <input
            name="password"
            type="password"
            placeholder="Password"
            class="password loginFormInput"
          />
        </label>
        <input
          id="submitLogin"
          type="submit"
          value="Login"
          class="loginFormInput"
        />
      </form>
    </section>
    <section class="serviceOverlay hidden">
      <form name="service" class="serviceForm">
        <svg width="30" height="30" class="serviceFormExit">
          <use
            href="{{ url_for('static', filename='/images/svg/symbol-defs.svg') }}#exit"
          ></use>
        </svg>
        <label for="service" class="serviceFormName">
          <input type="text" placeholder="Name" />
        </label>
        <label for="service" class="serviceFormEmail">
          <div class="EmailTelBtnsContainer">
            <span class="EmailTelBtn">tel</span>
            <span class="EmailTelBtn">email</span>
          </div>
          <input type="email" placeholder="E-mail" class="changableInput" />
        </label>
        <label for="service">
          <textarea placeholder="Message"></textarea>
        </label>
      </form>
    </section>
    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      type="module"
    ></script>
  </body>
</html>
