.loginOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.loginForm {
  padding: 30px 50px 30px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  gap: 20px;
  border-radius: 15px;
  position: relative;
  transition: 0.4s;
}

.loginForm h2 {
  margin: 0;
}

.loginFormInput {
  border: 2px solid #b3b3b3;
  border-radius: 5px;
  height: 40px;
  min-width: 200px;
  max-width: 250px;
  font-size: 20px;
}

#submitLogin {
  margin-top: 20px;
  background-color: rgba(117, 117, 117, 0.425);
  cursor: pointer;
  transition: 0.3s;
}

#submitLogin:hover {
  background-color: rgba(37, 37, 37, 0.425);
  color: #fff;
}

.exitLoginForm {
  position: absolute;
  right: 5px;
  top: 5px;
  transition: 0.3s;
}

.exitLoginForm:hover {
  fill: rgba(117, 117, 117, 0.425);
  scale: 0.9;
  cursor: pointer;
}

.login {
  position: relative;
}

/* .userMenu {
  transform: rotate(45deg);
  left: calc(50% - 15px);
  top: 40px;
  position: absolute;
  background-color: white;
  width: 30px;
  height: 30px;
} */

.userMenu {
  position: absolute;
  background-color: white;
  left: calc(50% - 85px);
  top: 65px;
  width: 150px;
  height: 300px;
  border-radius: 25px;
  padding: 15px 10px 15px 10px;
  border: 2px solid rgba(117, 117, 117, 0.425);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userMenu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userMenu ul li {
  cursor: pointer;
}

.point {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: white;
  left: calc(50% - 15px);
  top: -15px;
  transform: rotate(45deg);
  border-top: 2px solid rgba(117, 117, 117, 0.425);
  border-left: 2px solid rgba(117, 117, 117, 0.425);
}

.logout {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding-top: 4px;
  border-top: 2px solid rgba(117, 117, 117, 0.425);
}
