body {
  background-color: #ffffff; /* Domyślne tło */
  color: #000000; /* Domyślny kolor tekstu */
  transition: background-color 0.5s, color 0.5s;
}

body.night-mode {
  background-color: #131313; /* Tło trybu nocnego */
  color: #ffffff; /* Kolor tekstu w trybie nocnym */
}

input[type="checkbox"] {
  display: none;
}

label {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

#nightModeLabel svg {
  fill: #000000; /* Kolor wypełnienia ikony */
  width: 24px;
  height: 24px;
  transition: fill 0.5s;
}

#nightModeLabel.night-mode svg {
  fill: #ffffff; /* Kolor wypełnienia ikony w trybie nocnym */
}
